<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManager.Properties.Settings.PanjutorialsDBConnectionString"
            connectionString="Data Source=DESKTOP-7JQOL9D\PANJUTORIALSSQL;Initial Catalog=PanjutorialsDB;User ID=sa;Password=magichappenshere"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>